<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
</div>
<div style="text-align:center">
  <div>
    <p-autoComplete
      [(ngModel)]="dog"
      (completeMethod)="filterDogs($event)"
      field="breed"
      [size]="30"
      [minLength]="1"
      placeholder="Enter a dog Breed"
      tooltip='Not sure what to look for? Try "Shiba"'
    ></p-autoComplete>
    <br />
    <h4>or</h4>
    <button
      type="button"
      class="btn btn-primary left-space"
      (click)="getPic()"
      tooltip="Gun shy? Click me for a random dog"
    >
      Fetch Random
    </button>
  </div>
  <br />
  <div *ngFor="let dog of filteredDogs">
    <button type="button" class="btn space" (click)="getPic(dog)">
      {{ dog }}
    </button>
  </div>
  <div *ngIf="errorMessage">
    Ooops something went wrong....Please verify that you are able to visit<br />
    <a href="https://dog.ceo/dog-api/documentation/breed">Dog API</a>
  </div>
  <div>
    {{ imageTitle }}<br />
    <img [src]="image" />
  </div>
</div>
